@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

:root {
    --main-size-logo: 8vw;
    --main-transition-config: 300ms linear; 
    --main-font-weigh: 300;
    --medium-font-weigh: 400;
    --bold-font-weigh: 600;
    --ultrabold-font-weigh: 800;
    --paleta-roxo-color: #9a48e7;
    --main-color-font: #ffffff;
    --black-color-font: #000;
    --main-bg-color: #000;
    --white-bg-color:#ffffff;
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: var(--main-font-weigh);
    margin: 0; padding: 0;
    text-decoration: none;
    list-style: none;
    color: var(--main-color-font);
}

body {
    background-color: var(--main-bg-color);
}

nav {
    background-color: var(--main-bg-color);
}
    
footer {
    background-color: var(--white-bg-color);
}

.navegation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo_nav {
    display: inline-block;
    text-align: center;
    width: 20vw;
}

.logo_nav img {
    width: var(--main-size-logo);
    padding: 20px;
    transition: var(--main-transition-config);
}

.logo_nav img:hover {
    transform: scale(1.1);
    transition: var(--main-transition-config);
}

.nav_interacao {
    display: inline-block;
    min-width: 20vw;
    padding-right: 4%;
}

.nav_interacao ul{
    display: flex;
    font-weight: var(--bold-font-weigh);
    gap: 18px;
    justify-content: left;
    align-items: center;
    text-align: center;
}

.nav_interacao ul li {
    padding: 10px;
    font-weight: var(--bold-font-weigh);
    transition: var(--main-transition-config);
}

.nav_interacao ul li:hover {
    transition: var(--main-transition-config);
    color: var(--paleta-roxo-color);
    border-bottom-style: solid;
    border-radius: 5px;
    border-color: var(--white-bg-color);
    border-width: 4px;
}

.icons_nav {
    transition: var(--main-transition-config);
}

.icons_nav:hover {
    transition: var(--main-transition-config);
    filter: brightness(80%);
    transform: scale(1.1);
}

.selecao_footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.sociais_footer {
    display: flex;
    gap: 14px;
    padding: 10px;
}

.logo_footer img {
    transition: var(--main-transition-config);
    width: 100px;
}

.logo_footer img:hover {
    scale: 1.1;
    transition: var(--main-transition-config);
}

.direitos {
    display: flex;
    padding: 20px;
    flex-direction: column;

}

.direitos p {
    color: var(--black-color-font);
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .logo_nav img {
        width: 80px;
    }
    
}