body {
    background-color: rgb(255, 255, 255);
}

p {
    text-indent: 1.5em;
    margin-top: 0
}

.section_principal {
    display: block;
    position: relative;
    padding: 0; margin: 0;
}

.section_principal img {
    filter: brightness(70%);
    width: 100%;
    height: auto;
}

.sub_section_principal {
    transform: translate(0, -50%);
    top: 50%; left: 10%;
    position: absolute;
}

.sub_section_principal p {
    font-size: 5em;
    font-weight: 800;
}

.sub_section_principal p span {
    font-weight: 800;
}

.arrow_main {
    position: absolute;
    left: 50%; bottom: 5%;
}

.arrow_main img {
    transition: 300ms linear;
    width: 50px;
}

.arrow_main img:hover {
    transition: 300ms linear;
    transform: translateX(0) translateY(10px);
}

.section_infos {
    display: flex;
    margin: 50px 0 50px 0;
    justify-content: center;
    width: 100%;
}

.sub_section_infos_text {
    display: flex;
    width: 60%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.sub_section_infos_text_p {
    color: black;
    margin: auto;
    padding: 20px 0 20px 0;
    line-height: 150%;
    font-weight: 400;
    font-size: 1.1em;
}

.h2_empresas {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.empresas {
    width: 50%;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}

.empresas h2 {
    color: black;
    font-size: 2em;
    font-weight: 600;
}

.conteiner_empresas_parceiras {
    display: flex;
    background-color: #ffffff;
    max-width: 100vw;
    padding: 50px;
}

.bussines-carroussel {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.bussines-content {
    white-space: nowrap;
    animation: marqueeTicker 60s linear 8s infinite;
    display: inline-block;
}

.bussines-content img {
    width: 10vw;
    padding-left: 8cm;
}

@keyframes marqueeTicker {
    0% {
        transform: translate(0,0);
    }

    100% {
        transform: translate(-50%,0);
    }
}