.main_apresetacao {
    display: flex;
    position: relative;
    z-index: -1;
    min-width: 100%;
    height: 30vw;
    margin-top: 10%;
}

.main_titulo {
    display: inline-block;
    position: absolute;
    bottom: 20%; left: 10%;
}

.main_titulo h1{
    font-weight: var(--ultrabold-font-weigh);
    font-size: 4em;
}

.arrow_main {
    display: flex;
    width: 100%; height: auto;
    padding-bottom: 5%;
    justify-content: center;
}

.arrow_main img {
    transition: var(--main-transition-config);
    width: 50px;
}

.arrow_main img:hover {
    transition: var(--main-transition-config);
    transform: translateX(0) translateY(10%);
}

.section_apresentacoes_main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section_apresentacao {
    width: 100%;
    height: auto;
}

.section_img {
    position: relative;
}

.section_img img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    transition: filter 0.3s ease-in-out;
}

.overlay {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.overlay p {
    color: var(--main-color-font);
    text-align: center;
    font-size: 3em;
    font-weight: var(--bold-font-weigh);
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.sub_text_portifolio p{
    text-align: center;
    font-size: 1.2em;
}

.section_img:hover .overlay {
    opacity: 1;
  }

.overlay a:hover p {
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background: linear-gradient(to right, #000000, #000000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.section_img:hover img {
    transition: var(--main-transition-config);
    filter: brightness(70%);
}

@media only screen and (min-width: 200px) and (max-width: 601px){
    .main_apresetacao {
        height: 44vw;
    }
    
    
    .main_titulo h1 {
        font-size: 1.2em;
    }

    .main_titulo {
        bottom: 30%;
    }

    .overlay p {
        font-size: 1em;
    }

    .arrow_main img {
        transition: var(--main-transition-config);
        width: 20px;
    }

}

@media only screen and (min-width: 600px) and (max-width: 768px){
    .main_titulo h1 {
        font-size: 1.7em;
    }

    .main_titulo {
        bottom: 50%;
    }

    .overlay p {
        font-size: 1.5em;
    }

    .arrow_main img {
        transition: var(--main-transition-config);
        width: 20px;
    }

}

@media only screen and (min-width: 768px) and (max-width:  992px) {
    .main_titulo h1 {
        font-size: 2.4em;
    }

    .overlay p {
        font-size: 1.6em;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .main_titulo h1 {
        font-size: 2.5em;
    }

    .overlay p {
        font-size: 2em;
    }
}