.main_apresetacao {
    display: flex;
    position: relative;
    margin-top: 10%;
    width: auto;
    height: 30vw;
}

.main_titulo {
    display: inline-block;
    position: absolute;
    bottom: 20%;
    left: 10%;
}

.main_titulo h1{
    font-weight: 800;
    font-size: 4.5em;

}

.arrow_main {
    display: flex;
    width: 100%;
    height: auto;
    padding-bottom: 5%;
    justify-content: center;
}

.arrow_main img {
    transition: 300ms linear;
    width: 50px;
}

.arrow_main img:hover {
    transition: 300ms linear;
    transform: translateX(0) translateY(10px);
}

.section_apresentacoes_main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section_apresentacao {
    width: 100%;
    height: auto;
}

.section_img {
    position: relative;
}

.section_img img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    transition: filter 0.3s ease-in-out;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.overlay p {
    color: rgb(253, 253, 253);
    font-size: 3em;
    font-weight: 600;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.section_img:hover .overlay {
    opacity: 1;
  }

.overlay a:hover p {
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background: linear-gradient(to right, #a35be7, #8014e6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.section_img:hover img {
    transition: 300ms linear;
    filter: brightness(70%);
}