:root {
    --text-sub-titulo: 'Venha trabalhar conosco';
}

.section_principal {
    display: block;
    position: relative;
}

.section_principal img {
    filter: brightness(70%);
    width: 100%; height: 50vw;
}

.sub_section_principal {
    transform: translate(-50%, -50%);
    top: 50%; left: 50%;
    position: absolute;
}

.sub_section_principal p {
    font-size: 5em;
    font-weight: 800;
}

.sub_section_principal p::after {
    content: var(--text-sub-titulo);
    font-size: 0.2em;
    font-weight: 400;
    text-align: center;
    display: block;
}

.arrow_main img {
    position: absolute;
    transition: var(--main-transition-config);
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 5%;
    width: 50px;
    height: auto;
}

.arrow_main:hover img {
    transition: var(--main-transition-config);
    bottom: 2%;
}

.sub_titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px auto;
}

.sub_titulo > h2 {
    font-size: 2em;
    font-weight: var(--bold-font-weigh);
    color: var(--black-color-font);
}

.section_entrada_contato {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contato {
    display: flex;
    background-color: #c6c6c6;
    justify-content: center;
    min-width: 100%;
    border-radius: 10px;
    padding: 50px 0 50px 0;
    height: 80%;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
}

.sub_name_name {
    display: flex;
    gap: 50px;
    width: 100%;
}

.form-control input{
    display: block;
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    color: #000000;    
}

.form-control label{
    color: black;
    display: inline-block;
    font-size: 1.1em;
    font-weight: var(--medium-font-weigh);
}

.form-control > i {
    position: absolute;
    bottom: 50px;
    right: 0;
    visibility: hidden;
}

.form-control > small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.contato >  form > input {
    padding: 5px;
    background-color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 10px;
    font-size: 1em;
    margin: 5px;
    width: 100%;
    transition: var(--main-transition-config);
}

.contato > form > input:hover {
    padding: 5px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    transition: var(--main-transition-config);
}

.conteiner_op_whatsapp {
    display: flex;
    width: 100%;
    margin: 50px 0;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.conteiner_op_whatsapp > p {
    font-size: 1.5em;
    font-weight: var(--bold-font-weigh);
    color: var(--black-color-font);
}

#bottom_whats {
    display: inline-block;
    transition: var(--main-transition-config);
    background-color: green;
    border: rgb(0, 62, 0) solid 1px;
    color: var(--white-color-font);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    width: 125px;
    height: 50px;
    margin-top: 50px;
}

#bottom_whats:hover, .from_contato button:hover{
    transition: linear 200ms;
    font-size: 1.1em;
    cursor: pointer;
    background-color: black;
    color: var(--white-color-font);
}


@media only screen and (min-width: 200px) and (max-width: 600px){
    .sub_section_principal p {
        font-size: 4em;
    }

    .arrow_main img {
        width: 25px;
    }

    .sub_titulo > h2 {
        font-size: 1.5em;
    }

    .conteiner_op_whatsapp > p {
        font-size: 1.2em;
    }

    .form-control input{
        border-radius: 10px;
        width: 100%;
        padding: 10px 0 10px 0;
        font-size: 0.8em;       
    }

    .sub_name_name {
        display: block;
        width: 100%;
    }
    
    .form_nome_sobrenome {
        display: inline-block;
        width: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px){

    .sub_section_principal p {
        font-size: 4em;
    }

    .arrow_main img {
        width: 30px;
    }

        .form-control input{
        border-radius: 10px;
        width: 100%;
        padding: 10px auto;
        font-size: 0.8em;       
    }
}
